{% extends "oscar/checkout/payment_details.html" %}
{# inverted order: first preview, then payment #}
{% load i18n %}

{% block checkout_nav %}
    {% include 'checkout/nav.html' with step=4 %}
{% endblock %}


{% block payment_details_content %}
    {% if is_local_url %}
    <form method="post" action="" id="payment_form">
        {% csrf_token %}
    {% else %}
    <form method="{{source.temp_form.method}}" action="{{source.temp_form.action}}" id="payment_form">
    {% endif %}
        {% for field in source.temp_form %}
            {% include "partials/wtform_field.html" with field=field %}
        {% endfor %}
        <div class="form-group clearfix">
            <div class="row">
                <div class="col-sm-3 col-sm-offset-9">
                     <button id='place-order' type="submit" class="btn btn-primary btn-lg btn-block" data-loading-text="{% trans 'Submitting...' %}">{% trans "Place order" %}</button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
