{% extends "checkout/preview.html" %}
{% load i18n %}

{% block title %}
    {% trans "Order preview" %} | {{ block.super }}
{% endblock %}

{% block checkout_nav %}
    {% include 'checkout/nav.html' with step=4 %}
{% endblock %}

{% block checkout_title %}
    {% trans "Preview order" %}
{% endblock %}

{% block payment_method %}
    <div class="col-sm-6">
        <div class="sub-header">
            <h2>{% trans "Payment" %}</h2>
        </div>
        <div class="well well-success">
            {{payment_method}}
            <a href="{% url 'checkout:payment-method' %}" class="pull-right">
                {% trans "Change" %}
            </a>
            {% block payment_method_content %}
            {% endblock payment_method_content %}
        </div>
    </div>
{% endblock payment_method %}

{% block place_order %}
  {% if paymentform %}
    {% if is_local_url %}
    <form action="{% url 'checkout:payment-details' %}" class="form-stacked" method="POST">
      {# form doesn't leak token in these cases #}
      {% csrf_token %}
    {% else %}
    <form action="{{ paymentform.action }}" class="form-stacked" method="{{ paymentform.method }}">
    {% endif %}
        {% for field in paymentform %}
          {% include "partials/wtform_field.html" with field=field %}
        {% endfor %}
  {% else %}
    <form method="get" action="{{redirecturl}}" id="place_order_form">
  {% endif %}
        <div class="form-group clearfix">
            <div class="row">
                <div class="col-sm-3 col-sm-offset-9">
                     <button id='place-order' type="submit" class="btn btn-primary btn-lg btn-block" data-loading-text="{% trans 'Submitting...' %}">{% trans "Place order" %}</button>
                </div>
            </div>
        </div>
    </form>
{% endblock place_order %}
