{% extends "oscar/checkout/preview.html" %}
{# inverted order: first preview, then payment #}
{% load i18n %}


{% block title %}
    {% trans "Order preview" %} | {{ block.super }}
{% endblock %}

{% block checkout_nav %}
    {% include 'checkout/nav.html' with step=4 %}
{% endblock %}

{% block checkout_title %}
    {% trans "Preview order" %}
{% endblock %}

{% block payment_method %}
    <div class="col-sm-6">
        <div class="sub-header">
            <h2>{% trans "Payment" %}</h2>
        </div>
        <div class="well well-success">
            {{payment_method}}
            <a href="{% url 'checkout:payment-method' %}" class="pull-right">
                {% trans "Change" %}
            </a>
            {% block payment_method_content %}
            {% endblock payment_method_content %}
        </div>
    </div>
{% endblock payment_method %}

{% block place_order %}
  {# inverted #}
  <form method="post" action="{% url 'checkout:preview' %}" id="place_order_form">
      {% csrf_token %}
      <input type="hidden" name="action" value="place_order" />
      <div class="form-group clearfix">
          <div class="row">
              <div class="col-sm-3 col-sm-offset-9">
                   <button id='place-order' type="submit" class="btn btn-primary btn-lg btn-block">{% trans "Continue" %}</button>
              </div>
          </div>
      </div>
  </form>
{% endblock %}
