{% load wtforms %}
{% if field.is_hidden %}
    {{ field }}
{% else %}
    {% comment %}
        Make the field widget type available to templates so we can mark-up
        checkboxes differently to other widgets.
    {% endcomment %}

    {% block control_group %}
        <div class="form-group {% if field.errors %}has-error{% endif %}">

            {% block label %}
                {% if not nolabel and field.type != 'BooleanField' %}
                    {# django templates calls objects before evaluating fully, makes hack neccessary #}
                    {% if style|default:"stacked" != 'stacked' %}
                      {% if field.flags.required %}
                        {% form_field field.label class="control-label col-sm-4 required" %}
                      {% else %}
                        {% form_field field.label class="control-label col-sm-4" %}
                      {% endif %}
                    {% else %}
                      {% if field.flags.required %}
                        {% form_field field.label class="control-label col-sm-4 required" %}
                      {% else %}
                        {% form_field field.label class="control-label col-sm-4" %}
                      {% endif %}
                    {% endif %}
                    {% comment %}
                    <label for="{{ field.id }}" class="{% if style|default:"stacked" != 'stacked' %}col-sm-4{% endif%} control-label{% if field.flags.required %} required{% endif %}">
                        {{ field.label.text }}
                    </label>
                    {% endcomment %}
                {% endif %}
            {% endblock %}

            {% block controls %}
                <div class="{% if style|default:"stacked" != 'stacked' %}col-sm-7{% endif %}">
                    {% block widget %}
                        {% if field.type == 'BooleanField' %}
                            <label for="{{ field.id }}" class="checkbox {% if field.flags.required %}required{% endif %}">
                                {{ field.label.text|safe }}
                                {% form_field field class="form-control" %}
                            </label>
                        {% else %}
                            {% form_field field class="form-control" %}
                        {% endif %}
                    {% endblock %}

                    {% block errors %}
                        {% for error in field.errors %}
                            <span class="error-block"><i class="icon-exclamation-sign"></i> {{ error }}</span>
                        {% endfor %}
                    {% endblock %}

                    {% block help_text %}
                        {% if field.description %}
                            <span class='help-block'>
                                {# We allow HTML within form help fields #}
                                {{ field.description|safe }}
                            </span>
                        {% endif %}
                    {% endblock %}
                </div>
            {% endblock %}
        </div>
    {% endblock %}
{% endif %}
